{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
tap "aspect-build/aspect"
tap "cmacrae/formulae"
tap "fluxcd/tap"
tap "gcenx/wine"
tap "homebrew/bundle"
tap "homebrew/core"
tap "homebrew/services"
tap "koekeishiya/formulae"
tap "nikitabobko/tap"
tap "qmk/qmk"
brew "node"
brew "aws-amplify"
brew "certifi"
brew "aws-sam-cli"
brew "baobab"
brew "bat"
brew "chezmoi"
brew "cmake"
brew "direnv"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git-filter-repo"
brew "git-gui"
brew "git-lfs"
brew "go"
brew "helm"
brew "htop"
brew "jj"
brew "jq"
brew "lazygit"
brew "libmemcached"
brew "libomp"
brew "mas"
brew "mysql"
brew "neovim"
brew "nmap"
brew "pre-commit"
brew "ripgrep"
brew "ruff"
brew "rust"
brew "tokei"
brew "duf"
brew "dust"
brew "sevenzip"
brew "sleepwatcher", restart_service: :changed
brew "starship"
brew "tmux"
brew "tree"
brew "uv"
brew "watch"
brew "watchman"
brew "wget"
brew "yq"
brew "zellij"
brew "zoxide"
brew "aspect-build/aspect/aspect"
brew "cmacrae/formulae/spacebar"
brew "fluxcd/tap/flux"
brew "koekeishiya/formulae/skhd"
cask "1password-cli"
cask "aerospace"
cask "alacritty"
cask "android-ndk"
cask "arc"
cask "balenaetcher"
#cask "caldigit-docking-utility"
cask "caldigit-thunderbolt-charging"
cask "cameracontroller"
cask "cursor"
cask "docker-desktop"
cask "font-sauce-code-pro-nerd-font"
cask "gcloud-cli"
cask "ghostty"
cask "google-chrome"
cask "insomnia"
cask "istat-menus"
cask "obsidian"
cask "osculator"
cask "paraview"
cask "qlab"
cask "raycast"
cask "samsung-magician"
cask "spotify"
cask "utm"
cask "wireshark-app"
cask "xquartz"
cask "zotero"
vscode "anysphere.remote-ssh"
vscode "asvetliakov.vscode-neovim"
vscode "bazelbuild.vscode-bazel"
vscode "docker.docker"
vscode "esbenp.prettier-vscode"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "github.vscode-github-actions"
vscode "golang.go"
vscode "google.geminicodeassist"
vscode "jjk.jjk"
vscode "mechatroner.rainbow-csv"
vscode "ms-azuretools.vscode-containers"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-toolsai.jupyter-keymap"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode.makefile-tools"
vscode "ms-vscode.remote-explorer"
vscode "visualjj.visualjj"
vscode "vscodevim.vim"
vscode "wholroyd.jinja"
EOF
{{ end -}}
